<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GuestTheWord.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GuestTheWord.Properties.Settings>
            <setting name="SelectWords" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FlashWords" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Words" serializeAs="String">
                <value />
            </setting>
            <setting name="Hide" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>1</value>
            </setting>
        </GuestTheWord.Properties.Settings>
    </userSettings>
</configuration>